---
layout: default
permalink: /article/
title: Articles
---
{% assign divWasOpened = false %}
{% assign realIndex = 0 %}

{% for post in site.categories.article %}
    {% if post.hidden == true %}
        {% continue %}
    {% endif %}

    {% assign index = realIndex | modulo:2 %}
    
    {% if realIndex == 0 %}
        {% include article.html %}
    {% elsif forloop.last == true and divWasOpened == false %}
        <div class="row">
            <div class="col-12 col-md-6">
                {% include small_article.html %}
            </div>
        </div>
    {% elsif index == 0 %}
        {% assign divWasOpened = true %}
         <div class="row">
            <div class="col-12 col-md-6">
                {% include small_article.html %} 
            </div>
    {% elsif divWasOpened == true %}
        {% assign divWasOpened = false %}
            <div class="col-12 col-md-6">
                {% include small_article.html %}
            </div>
        </div>
    {% endif %}
    {% assign realIndex = realIndex | plus:1 %}
{% endfor%}