<!doctype html>
<html lang="en">

<head>
    <title>{{ page.title | default: site.title }}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5c9b35b42c4f3b001126e86a&product=inline-share-buttons' async='async'></script>
    <link rel="stylesheet" href="/css/tango.css">
    <link rel="stylesheet" href="/css/article.css">
</head>

<body style="background-color: #fcfcfc">
    <div class="container mt-4">
        <div class="row">
            <div class="d-none d-lg-block col-lg-4">
                <div class="position-fixed">
                    <img class="rounded-circle mx-auto d-block img-fluid"
                        src="https://miro.medium.com/fit/c/240/240/1*8VIUbzNLG1wnC4HrE0F6EQ.jpeg" width="150px" />
                    <h2 class="text-center">Valery Ponomarenko</h2>
                    <p class="text-center">I'm an Android Developer</p>
                    {% include navigation.html %}
                    <div class="row justify-content-center mt-4">
                        <a href="https://twitter.com/{{ site.twitter_username }}" class=" btn-lg" type="button"
                            role="button"><i class=" fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" class=" btn-lg" type="button"
                            role="button"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://medium.com/@{{ site.medium_username }}" class="btn-lg" type="button"
                            role="button"><i class="fab fa-medium-m"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                {{ content }}
            </div>
        </div>
    </div>

    {% include analytics.html %}
</body>

</html>